.profileImage {
  display: flex;
  justify-content: center;
}
.profileButton {
  display: flex;
  justify-content: center;
}
.profileInfo {
  width: fit-content;
  margin: auto;
}
.cardProfile {
  width: 650px;
}
@media only screen and (max-width: 700px) {
  .cardProfile {
    width: 90vw !important;
  }
}
